body{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.1rem;
    
    background-color:#FCC9A5;
    line-height: 1.6;
    height: 100vh;

}

h2{ 
    font-weight: bold;
    font-size: 4.7rem;
    font-style: italic;
    
    margin-top: 1%;
    margin-left: 10%;
    margin-left: 10%;
}
h3{ 
    font-style: italic;
    font-size: 2.1rem;
    
    margin-top: 1%;
    margin-left: 10%;
}
hr{
    border: 2px solid #C4421A;
    width: 75%;
}
.labelstatus{
    font-size: 1.2rem;
    margin-top: 2%;
}

.allcontent{
    margin-left: 10%;
    margin-right: 10%;
}

.btn{
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #C4421A;
    color: #FCC9A5;
    font-size: 1.2rem;
    font-style: bold;
    outline-color:#FCC9A5;
}

@media screen and (max-width: 768px){
    body{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 0.8rem;
    
    background-color:#FCC9A5;
    line-height: 1.1;
    height: 67vh;
    }

    h2{ 
    font-weight: bold;
    font-size: 3rem;
    font-style: italic;
    
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    }
    
    h3{ 
    font-style: italic;
    font-size: 1.4rem;
    
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    }
}

