body{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.1rem;
    
    background-color:#FCC9A5;
    line-height: 1.6;
    height: 100vh;

}

h2{ 
    font-weight: bold;
    font-size: 4rem;
    
    margin-top: 15%;
    margin-left: 15%;
}
h3{ 
    font-style: italic;
    font-size: 3rem;
    
    margin-top: 15%;
    margin-left: 15%;
}

.labelstatus{
    font-size: 0.9rem;
    
    margin-top: 2%;
}

.allcontent{
    margin-left: 10%;
    margin-right: 10%;
}

.btn{
    margin-top: 5%;
    margin-bottom: 5%;
}


