<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Status Submission</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="Stylesheet" href="{% static 'css/status.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        
    </head>

<body style="background-color:#FCC9A5;">
    <nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="http://sixth-status.herokuapp.com/">Status</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://sixth-status.herokuapp.com/search">Books</a>
    </li>
  </ul>

</nav>
    <br>
   <h2>Kamu apa kabar?</h2>
   <h3>yuk, kasih tahu temanmu status kamu</h3>
   

   <div class="allcontent">
   <form method="POST" class="form">
       {% csrf_token %}
    <div class="form-group">
        <label for="status" class="labelstatus">Masukkan status disini</label>
        <input type="text" class="form-control"  id="statusfield" placeholder="Yuk masukkan statusmu" name="statusfield">
      </div>
    <button type="submit" class="btn" id='submit'>Submit</button>
   </form>
    </div>
    <br> <br>
    <hr>
    <br> <br>
    <h2>List of status</h2>
    <div class="table_data" id="table_data">
        <div class="container mt-6"> 
    <table class="table table-hover" id="table">
    <thead>
    <tr>
        <th scope="col" style="background-color: #C4421A; color: #FFFFFF; font-style: italic;">Order No.</th>
        <th scope="col" style="background-color: #C4421A; color: #FFFFFF; font-style: italic;">Status or Message</th>
        <th scope="col"style="background-color: #C4421A; color: #FFFFFF; font-style: italic;">Date and Time</th>
    </tr>
    </thead>
    
    <div class="statuses">
        <tbody>
        {% for stat in all_status %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ stat.statusfield }}</td>
                <td>{{ stat.time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </div>
    </table>
    </div>
    </div>



</body>

</html>